<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>ゲーム画面 - フリーBGMイントロドン</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</head>
<body>
    <div class="container game-screen">
        <div class="game-header">
            <h1><div id="question-title"></div></h1>
            <h2><div id="time-limit-display"></div></h2>
            <div class="score-display">
                <div id="player1-container">プレイヤー1<br>
                    <div id="player1-score">スコア: 0</div>
                </div>
                <div id="player2-container">プレイヤー2<br>
                    <div id="player2-score">スコア: 0</div>
                </div>
            </div>
        </div>
        <div class="game-body">
            <audio id="audio-player" src="" preload="auto"></audio>
            <div class="player-buttons-container">
                <div class="player-button-container">
                    <button id="player1-button" class="player-button">🎵</button><br>
                    <div class="key-button">F</div>
                </div>
                <div class="player-button-container">
                    <button id="player2-button" class="player-button">🎵</button><br>
                    <div class="key-button">J</div>
                </div>
            </div>
            <div class="choices-container">
                <button class="answer-button" data-choice-id="0"></button>
                <button class="answer-button" data-choice-id="1"></button>
                <button class="answer-button" data-choice-id="2"></button>
                <button class="answer-button" data-choice-id="3"></button>
            </div>
            <h3><div class="ready-countdown"></div></h3>
            <button class="play-audio-button">スタート</button>
        </div>
        <div class="result-feedback"></div>
        <button class="next-question-button">次へ</button>
        <div id="feedback-message" class="feedback-message"></div>
        <div class="game-controls">
            <button id="hint-button" class="bottom-buttons">ヒント</button>
            <button id="add-to-playlist-button" class="bottom-buttons">プレイリストに追加</button>
            <a href="/" id="quit-game-button" class="bottom-buttons">ゲームをやめる</a>
        </div>
        <footer>
            <p>{{ footer_text }}</p>
        </footer>
    </div>
</body>
</html>