<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>フリーBGMイントロドン</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <header>
            <h1 class="title">フリーBGMイントロドン</h1>
        </header>
        
        <main>
            <div class="menu">
                <a href="/quiz" class="menu-button">ゲーム開始</a>
                <a href="/playlist" class="menu-button">プレイリスト</a>
                <a href="/settings" class="menu-button">設定</a>
            </div>
        </main>
        
        <footer>
            <p>&copy; 2025 琉球大学工学部工学科知能情報コース</p>
        </footer>
    </div>
</body>
</html>